<%- include("./partials/header") %>

<div class="container">
    <h1 class="display-4 text-center">Page not found!</h1>
    <hr>
    <div class="text-center">
        <a href="/" class="btn btn-outline-dark btn-lg text-center">Home Page</a>
    </div>
</div>

<%- include("./partials/footer") %>
